.myHeader {
    border: 50px outset rgb(141, 95, 161);
    border-width: 50px;
    background-color: rgb(111, 209, 209);
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    width: 40%;
    margin: auto;
    padding-bottom: 30px;
  }
  .nav {
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 30px;
   
  }
.questions {
    border: outset  rgb(141, 95, 161);
    border-width: 5px;
    background-color: rgb(141, 95, 161);
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding-bottom:  40px;
    padding-left: 30px;
    padding-right: 20px;


  }
  .orderedList {
    width: 75%;
    margin: 0 auto;
  }
  footer {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
    width: 40%;
    margin:auto;
    display: block;
    padding-bottom:  40px;
  }
  


body {
    background-color: rgb(219, 216, 220);
    background-image: url(https://wallpaperaccess.com/full/882411.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }